name: Metrics
on:
  # Runs every day at 00:00 UTC
  schedule:
    - cron: "0 0 * * *"
  # Allows manual triggering
  workflow_dispatch:
  # Runs on every push to the default branch
  push:
    branches:
      - main
jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          # Add plugin configurations below this line
          plugin_isocalendar: yes
